body {
  background-color: lightgrey;
}
.box-main{
  width: 100%;
  display: flex;
  justify-content: space-around;
  
}
.box-main > div{
  border: 1px solid #000;
  width: 200px;
  height: 200px;
}

.contect-as{
  text-align: center;
  margin: 100px;
  
}
