<form action="" method="post">

    <label>
        Register
    </label>
    <input type="text" name="username">
    <input type="text" name="password">


    <button type="submit">register </button>
    <!--Title for button is same as that of the page-->
</form>