<h1>{{ $ctrl.name }}</h1>
<h1>{{ $ctrl.hello }}</h1>

<a href="app/admin">admin</a>
<a href="http://localhost:9000/login">login</a>
<a href="/register">register</a>
<a href="/logout">logout</a>

<div class="box-main">
    <div class="1">tech</div>
    <div class="2">spriti</div>
    <div class="3">value</div>
</div>

<div class="contect-as">
    <form action="./contact" method="post">
        
        <input type="text" name="username" id="">
        <input type="text" name="password" id="">
        <input type="submit" value="submit">
        
    </form>
</div>

<footer>

    <h3>footer</h3>
</footer>