<form action="./register" method="post">
    <input type="text" name="username" id="">
    <input type="password" name="password" id="">
    <input type="number" name="role" id="">
    <input type="submit" value="submit">
</form>
<a href="index">home</a>